<section class="flex flex-col md:flex-row gap-8 justify-center items-center bg-pink-500/20 border-4 border-pink-500 rounded p-4">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-500 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hey there! I'm Ryan, a 20-year-old software engineer who graduated from<strong> ISDI Coders, ranked as the best bootcamp in the world by SwitchUp.</strong> I have a keen interest in bears and their conservation. In my spare time, you can find me playing video games, playing basketball, or spending time with my dogs.


     
    </p>

   

  
  </div>
  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" />
</section>

